@model UsuairosModel
@{
    ViewData["Title"] = "Inicio";
    Layout = null;
}

<link href="~/css/login.css" rel="stylesheet" asp-append-version="true"/>
<link rel="preconnect" href="https://fonts.googleapis.com" asp-append-version="true">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin asp-append-version="true">
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;800&display=swap" rel="stylesheet" asp-append-version="true">

<body>

    <div class="">
        <div class="">
            <div class="container">
                <h1 >Iniciar Sesión</h1>
                <form asp-action="Index" asp-controller="LoginRegister" method="post">
                    <div class="">
                        <label for="usernameOrEmail">Nombre de Usuario: </label>
                        <br/>
                        <input type="text" placeholder="Ingresa tu nombre de usuario" name="userName">
                    </div>
                    <div class="">
                        <label for="password">Contraseña:</label>
                        <br/>
                        <input type="password" class="form-control" placeholder="Contraseña" name="pass">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    @if (ViewData["Mensaje"] != null)
                    {
                        <div>
                            @ViewData["Mensaje"]
                        </div>
                    }
                </form>
                <div class="Opcion2">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="Opcion2">
                    <a asp-action="Registro" asp-controller="LoginRegister">¿No tienes cuenta?</a>
                </div>
            </div>
        </div>
    </div>
 </body>
