body {
    margin: 0;
    font-family: 'Gabarito', sans-serif;
}
.container {
    display:inline;
}
h1 {
    text-align: center;
}
form {
    text-align:center;
}
.Opcion2 {
    display: inline;
    text-align: center;
}
.Opcion2 a:link {
    text-align: center;
    color: rgba(255,255,255,0.55);
}
